@use '../custom' as *;

//gradient mixin

@mixin gradient {

    background: linear-gradient(to right, rgb($primary, 0.95), rgb($secondary, 0.95));
    
}

@mixin absoluteCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// transition 

@mixin transitionProperty{
    transition-duration: 1000ms;
    transition-property: all;
}